
.flex-container
{
  display:flex;
  flex-direction:row;
  width:100%;
  overflow:auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:smaller;
}
div.left-container
{
  width:35%;
  background-color:rgb(46, 65, 65);
  color:rgb(150, 204, 206);
  float:left;
}
div.left-container p
{
  margin:4%;
}
p.contact-details
{
  text-align:center;
}
p.merits
{
  text-align:left;
}
div.left-container img
{
  width:100%;
  height:auto;
  justify-content:right;
  scale:80%;
  border-radius:50%;
}
div.right-container
{
  width:65%;
  background-color:rgb(237, 226, 212);
  color:black;
  float:right;
}
div.right-container p
{
  margin:3%;
}
p.category
{
  font-size:large;
  font-weight:bold;
}
p.sub-item
{
  font-weight:bold;
}
